Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/Poort.json
[
  {
    "id": "376b9ee8.cb07f2",
    "type": "tab",
    "label": "Poort",
    "disabled": false,
    "info": ""
  },
  {
    "id": "731f572e.9319d8",
    "type": "rpi-gpio in",
    "z": "376b9ee8.cb07f2",
    "name": "Pin 15 Fotocel",
    "pin": "15",
    "intype": "tri",
    "debounce": "25",
    "read": false,
    "x": 270,
    "y": 60,
    "wires": [["ffd972bf.63cc4"]]
  },
  {
    "id": "ffd972bf.63cc4",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "MQTT Fotocel",
    "topic": "PoortjePi/input/fotocel",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 720,
    "y": 60,
    "wires": []
  },
  {
    "id": "c25191d5.923d9",
    "type": "inject",
    "z": "376b9ee8.cb07f2",
    "name": "Elke minuut",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 700,
    "wires": [
      [
        "fffa919c.7b106",
        "c483b122.b0f1a",
        "14672b3c.3ced85",
        "1a5afdc0.e4c4e2",
        "3b87fcf9.588d14",
        "d722b0b7.f2844",
        "1ec5968a.ca1229"
      ]
    ]
  },
  {
    "id": "f9a477d9.b513e8",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "MQTT DHT temperatuur",
    "topic": "PoortjePi/input/temperatuur-dht",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 778,
    "y": 218,
    "wires": []
  },
  {
    "id": "7c761c8f.8b5864",
    "type": "function",
    "z": "376b9ee8.cb07f2",
    "name": "temperatuur",
    "func": "msg.payload = msg.payload\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 501,
    "y": 217,
    "wires": [["f9a477d9.b513e8"]]
  },
  {
    "id": "33dbf96c.dfc596",
    "type": "function",
    "z": "376b9ee8.cb07f2",
    "name": "luchtvochtigheid",
    "func": "msg.payload = msg.humidity\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 520,
    "y": 260,
    "wires": [["2071c4e0.979bfc"]]
  },
  {
    "id": "2071c4e0.979bfc",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "MQTT DHT luchtvochtigheid",
    "topic": "PoortjePi/input/luchtvochtigheid-dht",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 780,
    "y": 260,
    "wires": []
  },
  {
    "id": "a9be0174.7eac3",
    "type": "inject",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "10",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 190,
    "y": 1440,
    "wires": [["25a02731.cd06f8"]]
  },
  {
    "id": "a1d9759e.90ac98",
    "type": "inject",
    "z": "376b9ee8.cb07f2",
    "name": "update",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "3600",
    "crontab": "",
    "once": true,
    "onceDelay": "",
    "x": 178,
    "y": 1560,
    "wires": [["aa43b0e0.8893"]]
  },
  {
    "id": "dbf96f7d.6b391",
    "type": "function",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "func": "function timeConversion(millisec) {\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n        return hours ;\n\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 520,
    "y": 1560,
    "wires": [["6fcfeed.251f91"]]
  },
  {
    "id": "f8986105.77f52",
    "type": "function",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 510,
    "y": 600,
    "wires": [["4ac738ca.c8d0f8"]]
  },
  {
    "id": "d9c031f5.689bd",
    "type": "function",
    "z": "376b9ee8.cb07f2",
    "name": "Undervoltage",
    "func": "msg.payload = msg.payload.underVoltage;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 544,
    "y": 723,
    "wires": [["b3b32695.5ff8d8"]]
  },
  {
    "id": "26fa7410.1d6e4c",
    "type": "function",
    "z": "376b9ee8.cb07f2",
    "name": "Throttle",
    "func": "msg.payload = msg.payload.throttled;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 532,
    "y": 850,
    "wires": [["c359ee74.97bf8"]]
  },
  {
    "id": "9c3357c9.817948",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/system/temp",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 760,
    "y": 520,
    "wires": []
  },
  {
    "id": "b3fdb4d2.f5b3f8",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/system/cpu",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 866.5,
    "y": 1450.75,
    "wires": []
  },
  {
    "id": "4ac738ca.c8d0f8",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/system/mem",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 760,
    "y": 600,
    "wires": []
  },
  {
    "id": "b3b32695.5ff8d8",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/system/undervoltage",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 807,
    "y": 720,
    "wires": []
  },
  {
    "id": "c359ee74.97bf8",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/system/throttle",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 764,
    "y": 855,
    "wires": []
  },
  {
    "id": "6fcfeed.251f91",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/system/uptime",
    "qos": "",
    "retain": "true",
    "broker": "d377a763.0b03b8",
    "x": 792,
    "y": 1563,
    "wires": []
  },
  {
    "id": "1a5afdc0.e4c4e2",
    "type": "exec",
    "z": "376b9ee8.cb07f2",
    "command": "cat /proc/net/wireless | grep wlan0: | awk '{print int($4)}'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Wifi signal",
    "x": 294.5,
    "y": 984.25,
    "wires": [["523dd29d.e5815c"], [], []]
  },
  {
    "id": "523dd29d.e5815c",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/system/wifi",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 694.5,
    "y": 984.25,
    "wires": []
  },
  {
    "id": "6ce2e049.9ef3b",
    "type": "exec",
    "z": "376b9ee8.cb07f2",
    "command": "sudo reboot",
    "addpay": false,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "Reboot",
    "x": 500,
    "y": 1680,
    "wires": [[], [], []]
  },
  {
    "id": "93982d5a.fa69c",
    "type": "exec",
    "z": "376b9ee8.cb07f2",
    "command": "sudo shutdown -h now",
    "addpay": false,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "Shutdown",
    "x": 510,
    "y": 1760,
    "wires": [[], [], []]
  },
  {
    "id": "f3f6fe19.24a22",
    "type": "mqtt in",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/system/reboot",
    "qos": "2",
    "datatype": "auto",
    "broker": "d377a763.0b03b8",
    "x": 220,
    "y": 1680,
    "wires": [["6ce2e049.9ef3b"]]
  },
  {
    "id": "123d62e5.94c5ed",
    "type": "mqtt in",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/system/shutdown",
    "qos": "2",
    "datatype": "auto",
    "broker": "d377a763.0b03b8",
    "x": 230,
    "y": 1760,
    "wires": [["93982d5a.fa69c"]]
  },
  {
    "id": "c6f48a4e.b7d818",
    "type": "rpi-gpio out",
    "z": "376b9ee8.cb07f2",
    "name": "Stopcontact",
    "pin": "18",
    "set": "",
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 710,
    "y": 1900,
    "wires": []
  },
  {
    "id": "44c0ba2.06c6a44",
    "type": "mqtt in",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/output/stopcontact/set",
    "qos": "2",
    "datatype": "auto",
    "broker": "d377a763.0b03b8",
    "x": 170,
    "y": 1920,
    "wires": [["1ad5dc2.31dbb24", "e578e24f.9a8d1"]]
  },
  {
    "id": "e578e24f.9a8d1",
    "type": "function",
    "z": "376b9ee8.cb07f2",
    "name": "Off -> 0 and On -> 1",
    "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg",
    "outputs": 1,
    "noerr": 0,
    "x": 425,
    "y": 1896,
    "wires": [["c6f48a4e.b7d818"]]
  },
  {
    "id": "1ad5dc2.31dbb24",
    "type": "function",
    "z": "376b9ee8.cb07f2",
    "name": "Status msg",
    "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg",
    "outputs": 1,
    "noerr": 0,
    "x": 402,
    "y": 1958,
    "wires": [["75829923.3926e8"]]
  },
  {
    "id": "75829923.3926e8",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "Stopcontact status",
    "topic": "PoortjePi/output/stopcontact/status",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 731,
    "y": 1952,
    "wires": []
  },
  {
    "id": "97c747c8.39ab08",
    "type": "inject",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "",
    "payload": "online",
    "payloadType": "str",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 120,
    "wires": [["d00a9264.ce707"]]
  },
  {
    "id": "d00a9264.ce707",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/status",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 330,
    "y": 140,
    "wires": []
  },
  {
    "id": "3b87fcf9.588d14",
    "type": "exec",
    "z": "376b9ee8.cb07f2",
    "command": "free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Swap %",
    "x": 284.5,
    "y": 1124.25,
    "wires": [["850286dd.9a3888"], [], []]
  },
  {
    "id": "850286dd.9a3888",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/system/swap",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 704.5,
    "y": 1124.25,
    "wires": []
  },
  {
    "id": "d722b0b7.f2844",
    "type": "rpi-dht22",
    "z": "376b9ee8.cb07f2",
    "name": "DHT22",
    "topic": "rpi-dht22",
    "dht": 22,
    "pintype": "2",
    "pin": "11",
    "x": 300,
    "y": 220,
    "wires": [["7c761c8f.8b5864", "33dbf96c.dfc596"]]
  },
  {
    "id": "14672b3c.3ced85",
    "type": "vcgencmd",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "command": "get_throttled",
    "codec": "H264",
    "clock": "core",
    "voltage": "core",
    "memory": "arm",
    "videoOutput": "0",
    "separateMsg": false,
    "x": 340,
    "y": 720,
    "wires": [["d9c031f5.689bd", "26fa7410.1d6e4c"]]
  },
  {
    "id": "fffa919c.7b106",
    "type": "vcgencmd",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "command": "measure_temp",
    "codec": "H264",
    "clock": "core",
    "voltage": "core",
    "memory": "arm",
    "videoOutput": "0",
    "separateMsg": false,
    "x": 340,
    "y": 520,
    "wires": [["9c3357c9.817948"]]
  },
  {
    "id": "aa43b0e0.8893",
    "type": "Uptime",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "x": 360,
    "y": 1560,
    "wires": [["dbf96f7d.6b391"]]
  },
  {
    "id": "c483b122.b0f1a",
    "type": "Memory",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "x": 320,
    "y": 600,
    "wires": [["f8986105.77f52"]]
  },
  {
    "id": "25a02731.cd06f8",
    "type": "cpu",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "msgCore": false,
    "msgOverall": true,
    "msgArray": false,
    "msgTemp": false,
    "x": 448.5,
    "y": 1445.75,
    "wires": [["b3fdb4d2.f5b3f8"]]
  },
  {
    "id": "1ec5968a.ca1229",
    "type": "Bme280",
    "z": "376b9ee8.cb07f2",
    "name": "BME280",
    "bus": "1",
    "address": "0x76",
    "topic": "bme280",
    "extra": true,
    "x": 320,
    "y": 380,
    "wires": [
      [
        "98ae79a.de7f988",
        "5f1a07e1.7c1b78",
        "abd19cbf.29a8",
        "a32ccd47.14eb5",
        "d95cfda3.966af"
      ]
    ]
  },
  {
    "id": "fc64eb9.63e7918",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/input/temperatuur",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 780,
    "y": 320,
    "wires": []
  },
  {
    "id": "4b5d2e2f.2062d",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/input/luchtvochtigheid",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 790,
    "y": 360,
    "wires": []
  },
  {
    "id": "116e019e.0c597e",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/input/heatindex",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 770,
    "y": 400,
    "wires": []
  },
  {
    "id": "bca15673.28cbe8",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/input/dewpoint",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 770,
    "y": 440,
    "wires": []
  },
  {
    "id": "b8ac600b.2f933",
    "type": "mqtt out",
    "z": "376b9ee8.cb07f2",
    "name": "",
    "topic": "PoortjePi/input/pressure",
    "qos": "",
    "retain": "",
    "broker": "d377a763.0b03b8",
    "x": 770,
    "y": 480,
    "wires": []
  },
  {
    "id": "98ae79a.de7f988",
    "type": "function",
    "z": "376b9ee8.cb07f2",
    "name": "Temperatuur",
    "func": "msg.payload = msg.payload.temperature_C\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 530,
    "y": 320,
    "wires": [["fc64eb9.63e7918"]]
  },
  {
    "id": "5f1a07e1.7c1b78",
    "type": "function",
    "z": "376b9ee8.cb07f2",
    "name": "Luchtvochtigheid",
    "func": "msg.payload = parseFloat(msg.payload.humidity.toFixed(2))\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 550,
    "y": 360,
    "wires": [["4b5d2e2f.2062d"]]
  },
  {
    "id": "abd19cbf.29a8",
    "type": "function",
    "z": "376b9ee8.cb07f2",
    "name": "HeatIndex",
    "func": "msg.payload = parseFloat(msg.payload.heatIndex.toFixed(2))\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 530,
    "y": 400,
    "wires": [["116e019e.0c597e"]]
  },
  {
    "id": "a32ccd47.14eb5",
    "type": "function",
    "z": "376b9ee8.cb07f2",
    "name": "Dauwpunt",
    "func": "msg.payload = parseFloat(msg.payload.dewPoint_C.toFixed(2))\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 530,
    "y": 440,
    "wires": [["bca15673.28cbe8"]]
  },
  {
    "id": "d95cfda3.966af",
    "type": "function",
    "z": "376b9ee8.cb07f2",
    "name": "Luchtdruk",
    "func": "msg.payload = parseFloat(msg.payload.pressure_hPa.toFixed(2))\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 520,
    "y": 480,
    "wires": [["b8ac600b.2f933"]]
  },
  {
    "id": "d377a763.0b03b8",
    "type": "mqtt-broker",
    "z": "",
    "name": "Home-Assistant broker",
    "broker": "192.168.79.54",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "PoortjePi/status",
    "birthQos": "0",
    "birthRetain": "true",
    "birthPayload": "online",
    "closeTopic": "PoortjePi/status",
    "closeQos": "0",
    "closeRetain": "true",
    "closePayload": "offline",
    "willTopic": "PoortjePi/status",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "offline"
  }
]
